/*----------------------------------*/
/*      01 - Global > Colors        */
/*----------------------------------*/

$dark-menu: #414452;

$dark-sky-blue: #30b6dd;
$hover-dark-sky-blue: #187490;

$sick-green: #9bc837;
$hover-sick-green: #678525;

$border-grey: #c0c3ce;
$grey-placeholder: #d9dbe3;
$font-greyed-out: #b9bdce;
$pale-grey: #f2f3f7;

$error-orange: #ff4e33;
