<div class="container">
  <div class="searchbar">
    <input type="text" name="search">
    <button class="btn btn-secondary">Search</button>
  </div>

  <div class="add-course">
    <button class="btn btn-primary">Add course</button>
  </div>

  <app-course-item *ngFor="let course of courses | orderBy : orderByDate"
    [course]="course"
    (deleteClick)="onDelete($event)"
    [appCourseHighlight]="course"
    [class.toprated]="course?.topRated"
  ></app-course-item>
  <div *ngIf="!courses || !courses.length"><h2>No data, feel free to add new course!</h2></div>
  <div class="load-more">
    <label>LOAD MORE</label>
  </div>
</div>
