<div class="container">
  <div class="searchbar">
    <input type="text" #filterSearch [(ngModel)]="term">
    <button class="btn btn-secondary">Search</button>
  </div>

  <div class="add-course">
    <button class="btn btn-primary">Add course</button>
  </div>

  <div class="courses" *ngIf="courses.length > 0; else noCourse">
    <app-course-item *ngFor="let course of courses | orderBy | filter:term" [course]=course
      (deleteClick)="logOnDelete($event)" appCourseItemDateChecker>
    </app-course-item>
    <div class="else-bar">
      <label>LOAD MORE</label>
    </div>
  </div>

  <ng-template #noCourse>
    <div class="else-bar">
      <label>No data. Feel free to add new course!</label>
    </div>
  </ng-template>
</div>